@keyframes bannerLoop {

	to {
		transform: translate(-50%, -50%);
	}
}

#banner {
	margin-block-start: 0;
	position: relative;
	overflow: hidden;
	height: 10rem;
	font-family: $font__headings;
	background-color: $color__deepblue;
	color: $color__white;

	p {
		font-size: 4rem;
		animation: bannerLoop 20s linear infinite;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		white-space: nowrap;
		text-transform: uppercase;
		max-width: unset;

		&::before {
			content: " ";
		}
	}
}
