@keyframes bannerLoop {

	to {
		transform: translateX(-50%);
	}
}

#banner {

	border-top: 1px solid $color__deepblue;
	border-bottom: 1px solid $color__deepblue;
	position: relative;
	overflow: hidden;
	height: 10rem;
	background-image: url(./assets/img/banner_texture.png);
	font-family: $font__headings;

	p {
		font-size: 6rem;
		animation: bannerLoop 12s linear infinite;
		position: absolute;
		white-space: nowrap;
		text-transform: uppercase;
		max-width: unset;

		&::before {
			content: " ";
		}
	}
}
