#gallery {

	figure {
		position: relative;

		figcaption {
			position: absolute;
			top: 0;
			right: 0;
			width: 40%;
			text-align: left;
			font-size: 1rem;
			color: $color__deepblue;

			@media only screen and (max-width: $breakpoint_laptop) {
				position: unset;
				width: unset;
			}
		}
	}
}
