.hero {
	position: relative;

	figure:first-child {
		max-width: 100%;

		img {
			height: calc(100vh - 80px);
			filter: brightness(0.6);
			object-fit: cover;
			width: 100%;
		}
	}

	.hero__content {

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		h1 {
			font-family: $font__headings;
			color: $color__white;
		}

		.wp-block-button {
			margin-top: 2rem;

			.wp-block-button__link {
				font-family: $font__headings;
				font-size: 1.5rem;
				text-transform: uppercase;
				border-radius: 1.5rem;
				border: 2px solid $color__orange;
				padding: 1rem 2rem;
				color: $color__white;
				background-color: unset;

				&:visited {
					color: $color__white;
				}

				&:hover {
					background-color: $color__white;
					border: 2px solid transparent;
					color: $color__orange;

					&:visited {
						color: $color__orange;
					}
				}
			}
		}
	}

	.hero__btn__contact {
		position: absolute;
		right: 8vw;
		bottom: 6vh;
		width: 80px;
		height: 80px;
		padding: 1rem;
		margin: 0;
		background-color: $color__orange;
		border-radius: 1.5rem;
		cursor: pointer;

		img {
			filter: invert(1);
		}
	}
}
