#test {
	background-color: $color__deepblue;
	color: $color__white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 1200px;
	padding: 4rem 0;
	border-radius: 1.5rem;
	display: none;

	.test__btn__close {
		position: absolute;
		right: 2.5rem;
		top: 2.5rem;
		width: 2rem;
		height: 2rem;
		margin: 0;
		background-image: url(https://cdn-icons-png.flaticon.com/512/57/57165.png);
		background-size: contain;
		filter: invert(1);
		cursor: pointer;
	}

	h2 {
		color: $color__white;

		&::before {
			left: 50%;
			transform: translate(-50%);
		}
	}

	p {
		font-family: $font__headings;
		font-size: 1.5rem;
	}

	.wp-block-buttons {

		gap: 6rem;

		.wp-block-button {

			&.test__btn--contact {
				display: none;
			}

			.wp-block-button__link {
				font-family: $font__headings;
				font-size: 1.25rem;
				color: $color__white;
				text-transform: uppercase;
				background-color: unset;
				border: 2px solid $color__orange;
				border-radius: 20px;
				padding: 1rem 1.5rem;

				&:hover {
					color: $color__white;
					background-color: $color__orange;
					border: 2px solid $color__orange;
				}
			}

			&.test__btn--no {

				.wp-block-button__link {
					background-color: $color__orange;

					&:hover {
						color: $color__white;
						background-color: $color__deepblue;
						border: 2px solid $color__orange;
					}
				}
			}
		}
	}
}
