body {
	background: #fff;
	color: $color__deepblue;
	overflow-x: hidden;

	#about_us,
	#expertise,
	#services,
	#test {
		scroll-margin-top: 90px;
	}

	.is-layout-constrained > * + * {
		margin-block-start: 4rem;
	}
}
