<!-- wp:template-part {"slug":"header","theme":"ARTISANTE","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"site-main","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group alignfull site-main"><!-- wp:heading {"fontSize":"x-large"} -->
	<h2 class="has-x-large-font-size">Oops! That page can't be found.</h2>
	<!-- /wp:heading -->
	
	<!-- wp:paragraph -->
	<p>It looks like nothing was found at this location. Maybe try one of the links below, or a search?</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:spacer {"height":"30px"} -->
	<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	
	<!-- wp:latest-posts {"postsToShow":3,"displayAuthor":true,"displayPostDate":true,"postLayout":"grid","align":"center"} /-->
	
	<!-- wp:spacer {"height":"30px"} -->
	<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	
	<!-- wp:group {"backgroundColor":"silver","layout":{"inherit":true,"type":"constrained"}} -->
	<div class="wp-block-group has-silver-background-color has-background"><!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:spacer {"height":"30px"} -->
	<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer --></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"ARTISANTE","tagName":"footer","className":"site-footer"} /-->